- @saal      = 'saal5'
- @qualities = @item[:qualities]
- @quality   = @item[:quality]
- @lang      = 'stereo'
- @hdpost    = "-hd" if @quality == "hd"

- if @quality == "hd"
  - @vidwidth  = "720"
  - @vidheight = "405"
- else
  - @vidwidth  = "640"
  - @vidheight = "360"

%video{ id: "video-tag", width: "#{@vidwidth}", height: "#{@vidheight}", controls: true, preload: 'auto', autoplay: true }
  %source{ src: "rtmp://rtmp#{@hdpost}.streaming.media.ccc.de:1935/stream/#{@saal}_#{@lang}_#{@quality}", title: "H264 (RTMP)", type: "video/rtmp",
           :data => { "plugin-type" => "flash" } }
  %source{ src: "http://hls#{@hdpost}.streaming.media.ccc.de/hls/#{@saal}_#{@lang}_#{@quality}.m3u8", type: "application/vnd.apple.mpegURL",
           title: "H264 (HLS)", :data => { "plugin-type" => "native" } }
  %object{ width: "#{@vidwidth}", height: "#{@vidheight}", type: 'application/x-shockwave-flash', data: '/static/flashmediaelement.swf' }
    %param{ name: 'allowFullScreen', value: 'true' }
    -#%param{ name: 'movie', value: '/static/flashmediaelement.swf' }
    -#%param{ name: 'flashvars', value: "controls=true&file=http://151.217.25.2:1935/stream/#{@saal}_native_hd" }

%div{ id: "chooser" }
  %span{ id: "url" }
    %a{ href: "#", onclick: "$('#URLS').css('display', 'block');$('#url').css('display', 'none'); return false;"} show URLs

  %span{ id: "quality" }
    Quality &#9660;
    %ul
      - @qualities.each do | q |
        %li
          - if q == @quality
            %span{ class: "selected" }
              &#9658;#{q.upcase}
          - else
            %a{ :href => "/#{q}/" } #{q.upcase}

%ul{ id: "URLS", style: "display: none" }
  %li
    %label{for: "rtmp"} RTMP:
    %input#rtmp{ value: "rtmp://rtmp#{@hdpost}.streaming.media.ccc.de:1935/stream/#{@saal}_#{@lang}_#{@quality}" }
  %li
    %label{for: "hls"} HLS:
    %input#hls{ value: "http://hls#{@hdpost}.streaming.media.ccc.de/hls/#{@saal}_#{@lang}_#{@quality}.m3u8" }


:javascript
  currentPlayer = new MediaElementPlayer('#video-tag',
    { mode: 'auto_plugin',
      pluginPath: "/static/",
      //enablePluginDebug: true,
      usePluginFullScreen: true,
      //thumbnailSelectorUpdateURL: '/update-url',
      //thumbnailSelectorEnabled: true,
      //features: ["playpause", "current", "progress", "duration", "qualities", "volume", "fullscreen", "thumbnailSelector"]
      features: ['playpause','current','duration','volume', 'fullscreen'],
      enableAutosize: true
    });
  $("#chooser").appendTo(".mejs-controls");
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {

  }
- if @quality == "hd"
  :javascript
    $("#container").css('max-width', "720px");
