- @saal      = @item[:room].gsub(' ', '').downcase
- @slug      = @item[:room].tr(' ', '-').downcase
- @qualities = @item[:qualities]
- @quality   = @item[:quality]
- @lang      = 'native'
- @hdpost    = "-hd" if @quality == "hd"

- if @quality == "hq"
  - @vidwidth  = "1024"
  - @vidheight = "576"
- else
  - @vidwidth  = "640"
  - @vidheight = "360"

.player.video{ style: "max-width: #{@vidwidth}px" }
  %video{ id: "video-tag", width: "#{@vidwidth}", height: "#{@vidheight}", controls: true, preload: 'auto', autoplay: true }
    %source{ src: "rtmp://live.dus.c3voc.de:1935/stream/#{@saal.tr('h', '')}_native_#{@quality}", title: "H264 (RTMP)", type: "video/rtmp",
             :data => { "plugin-type" => "flash" } }
    %source{ src: "http://live.dus.c3voc.de/hls/#{@saal.tr('h', '')}_native_#{@quality}.m3u8", type: 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"',
             title: "H264 (HLS)", :data => { "plugin-type" => "flash" } }
    %object{ width: "#{@vidwidth}", height: "#{@vidheight}", type: 'application/x-shockwave-flash', data: '/static/flashmediaelement.swf' }
      %param{ name: 'allowFullScreen', value: 'true' }
      -#%param{ name: 'movie', value: '/static/flashmediaelement.swf' }
      -#%param{ name: 'flashvars', value: "controls=true&file=http://151.217.25.2:1935/stream/#{@saal}_native_hd" }

  %div{ id: "chooser" }
    %span{ id: "url" }
      %a{ href: "#", onclick: "$('#URLS').css('display', 'block');$('#url').css('display', 'none'); return false;"} show URLs

    %span{ id: "quality" }
      Quality &#9660;
      %ul
        - @qualities.each do | q |
          %li
            - if q == @quality
              %span{ class: "selected" }
                &#9658;#{q.upcase}
            - else
              %a{ :href => "/#{q}/" } #{q.upcase}

  %ul{ id: "URLS", style: "display: none" }
    %li
      %label{for: "hls"} HLS:
      %input#hls{ value: "http://live.dus.c3voc.de/hls/#{@saal.tr('h', '')}_native_#{@quality}.m3u8" }
    %li
      %label{for: "rtmp"} RTMP:
      %input#rtmp{ value: "rtmp://live.dus.c3voc.de:1935/stream/#{@saal.tr('h', '')}_native_#{@quality}" }


  :javascript
    currentPlayer = new MediaElementPlayer('#video-tag', 
      {
        // priorize flash because of WebM Steaming Problems
        mode: 'auto_plugin',
        usePluginFullScreen: true,

        pluginPath: "/static/",
        //enablePluginDebug: true,
        //thumbnailSelectorUpdateURL: '/update-url',
        //thumbnailSelectorEnabled: true,
        //features: ["playpause", "current", "progress", "duration", "qualities", "volume", "fullscreen", "thumbnailSelector"]
        features: ['playpause','current','duration','volume', 'fullscreen'],
        enableAutosize: true
      });
    $("#chooser").appendTo(".mejs-controls");
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {

    }
  - if @quality == "hd"
    :javascript
      $("#container").css('max-width', "720px");
