- @saal   = @item[:room].gsub(' ', '').downcase
- @format = @item[:format].downcase if @item[:format]
- @lang   = "_#{@item[:lang]}" if @item[:lang]

%audio{ id: "#{@saal}_#{@format}", controls: true, preload: 'auto', width: "480", autoplay: true }
  - if @format =~ /audio|ogg/
    %source{ src: "http://audio.streaming.media.ccc.de:8000/#{@saal}#{@lang}.#{@format}", type: "audio/#{@format}"}
  - else
    %source{ src: "http://audio.streaming.media.ccc.de:8000/#{@saal}#{@lang}.mp3", type: "audio/mp3"}
    %source{ src: "http://audio.streaming.media.ccc.de:8000/#{@saal}#{@lang}.opus", type: "audio/opus"}

%span{ id: "player-mode" }

:javascript
  $('audio').mediaelementplayer({
    // shows debug errors on screen
    enablePluginDebug: true,
    //defaultVideoWidth: 1024,
    //defaultVideoHeight: 576,
    features: ['playpause','progress','current','tracks','volume', 'formatchooser'],
    enableAutosize: false,
    pauseOtherPlayers: false,
  });

