!!! 5
%html{ html_attrs('en') }
  %head
    %title
      30C3
      = @item[:title]

    %meta{ charset: 'utf-8' }
    %link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '/css/mediaelementplayer.css', type: 'text/css', rel: 'stylesheet' }


    %script{ type: "text/javascript", src: "/js/jquery.js" }
    %script{ type: "text/javascript", src: "/js/mediaelement-and-player.js" }

  %body
    #container
      .rocket

      #header
        .logo
          %a{ href: '/'}
            %img{ src: '/img/logo.svg' }

        .headline
          - if @item[:room]
            = "30C3: Streaming - #{@item[:room]}"
          -else
            = "30C3: Streaming"

      #content
        = yield

      #footer
        .links
          %a{ href: 'https://events.ccc.de/congress/2013/wiki/Static:Documentation' } Wiki
          |
          %a{ href: 'https://twitter.com/c3streaming' } Twitter

        .voc_logo
          %a{ href: 'http://ccc.de'}
            %img{ src: '/img/voc_logo.svg', alt: 'CCC Video Operations Center'}
        .fem_logo
          %a{ href: 'http://fem.tu-ilmenau.de'}
            %img{ src: '/img/fem_logo.svg', alt: 'Forschungsgemeinschaft elektronische Medien' }
