!!! 5
%html{ html_attrs('en') }
  /
    Don't use the f*cking webplayer!!1!

  %head
    %title
      30C3
      = @item[:title]

    %meta{ charset: 'utf-8' }
    %meta{ name: "viewport", content: "width=340"}
    %link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '/css/mediaelementplayer.css', type: 'text/css', rel: 'stylesheet' }


    %script{ type: "text/javascript", src: "/js/jquery.js" }
    %script{ type: "text/javascript", src: "/js/mediaelement-and-player.js" }

  %body
    #container
      .rocket

      #header
        .logo
          %a{ href: '/'}
            %img{ src: '/img/logo.svg' }

        .headline
          - if @item[:room]
            = "#{@item[:room]} Live"
          -else
            = "Streaming"

      #content
        = yield

        #footer.clearfix
          .links
            %a{ href: 'http://streaming.media.ccc.de/wiki/' } Wiki-Mirror
            |
            %a{ href: 'http://streaming.media.ccc.de/congress/2013/Fahrplan/schedule.html' } Fahrplan-Mirror
            |
            %a{ href: 'https://twitter.com/c3streaming' } Twitter

          .logos
            .voc_logo
              %a{ href: 'http://ccc.de'}
                %img{ src: '/img/voc_logo.svg', alt: 'CCC Video Operations Center'}
            .fem_logo
              %a{ href: 'http://fem.tu-ilmenau.de'}
                %img{ src: '/img/fem_logo.svg', alt: 'Forschungsgemeinschaft elektronische Medien' }
            %br.clearfix
