- ["Saal H1", "Saal H2", "Saal H3"].each do |room|
  - @roomslug = room.tr(" ", "-").downcase
  %section
    %h3
      %a{ href: "/#{@roomslug}/"}
        #{room}

    %a{ href: "#{@roomslug}/hq/"} High
    %a{ href: "#{@roomslug}/lq/"} Low
    %a{ href: "#{@roomslug}/slides/"} Slides
    %a{ href: "#{@roomslug}/audio/"} Audio 
