- # format switch, theora default

- case @item[:format]
- when /audio/
  <audio  id="audio" controls autoplay preload="auto" >
  <source src="http://theora.streaming.media.ccc.de:8000/#{@item[:saal].downcase.gsub(' ', '')}_audio.ogg" type='audio/ogg' }>
  </audio>
  %p
    %a{ href: "http://theora.streaming.media.ccc.de:8000/#{@item[:saal].downcase.gsub(' ', '')}_audio.ogg" } Direktflug

- when /theora/
  <video  id="video" class="video-js vjs-default-skin" data-setup='{"techOrder": ["html5", "flash"]}' width='640' height='360' controls autoplay preload="auto" poster='/img/mrmcd_flight.png'>
  <source src="http://theora.streaming.media.ccc.de:8000/#{@item[:saal].downcase.gsub(' ', '')}.ogg" type='video/ogg'>
  </video>
  %p
    %a{ href: "http://theora.streaming.media.ccc.de:8000/#{@item[:saal].downcase.gsub(' ', '')}.ogg"} Direktflug

- else
  <video  id="video" class="video-js vjs-default-skin" data-setup='{"techOrder": ["html5", "flash"]}' width='640' height='360' controls autoplay preload="auto" poster='/img/mrmcd_flight.png'>
  <source src="http://theora.streaming.media.ccc.de:8000/#{@item[:saal].downcase.gsub(' ', '')}.ogg" type='video/ogg' }>
  </video>
  %p
    %a{ href: "http://theora.streaming.media.ccc.de:8000/#{@item[:saal].downcase.gsub(' ', '')}.ogg" } Direktflug
