!!! 5
%html{ html_attrs('de') }
  /
    Don't use the f*cking webplayer!!1!

  %head
    %title
      Easterhegg 2014 -
      - if @item[:room]
        = "#{@item[:room]} " + "#{@item[:quality]}".upcase
      -else
        = "Streams"

    %meta{ charset: 'utf-8' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '/css/ehstyle.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '/css/mediaelementplayer.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: 'https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', type: 'text/css', rel: 'stylesheet' }



    %script{ type: "text/javascript", src: "/js/jquery.js" }
    %script{ type: "text/javascript", src: "/js/mediaelement-and-player.js" }

  %body
    #container

      %h1
        Easterhegg 2014
        %span.venue
          Stuttgart
        %br
        %span.date
          18. - 21. April 2014

      %nav
        - if @item[:room]
          %a{ href: '/' }
            = "Übersicht der Streams"
          %span.hot
            = "#{@item[:room]} " + "#{@item[:quality]}".upcase
        -else
          %span.hot
            = "Übersicht der Streams"

      %article
        %center
          %h1
            Aufgrund von Uplinkproblemen leider zur Zeit keine Streams
        = yield

      %section.wide
        %h3 Veranstaltungs-Chat
        %iframe.chat{ src: "https://kthx.de:9090?channels=%23easterhegg", width: '100%', height: 400 }

      %footer
        %a{ href: 'https://eh14.easterhegg.eu/pages/fahrplan/' } Fahrplan
