!!! 5
%html{ html_attrs('de') }
  /
    Don't use the f*cking webplayer!!1!

  %head
    %title
      FOSSGIS 2014 -
      - if @item[:room]
        = "#{@item[:room]} " + "#{@item[:quality]}".upcase
      -else
        = "Streams"

    %meta{ charset: 'utf-8' }
    %meta{ name: "viewport", content: "width=340"}
    %link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '/css/mediaelementplayer.css', type: 'text/css', rel: 'stylesheet' }


    %script{ type: "text/javascript", src: "/js/jquery.js" }
    %script{ type: "text/javascript", src: "/js/mediaelement-and-player.js" }

  %body
    #container

      %h1
        FOSSGIS Konferenz 2014
        .venue
          Berlin
        .date
          19. - 21. März 2014

      %h2
        - if @item[:room]
          = "#{@item[:room]} " + "#{@item[:quality]}".upcase
        -else
          = "Übersicht der Streams"

      #content
        = yield

        #footer.clearfix
          .links
            %a{ href: 'http://streaming.media.ccc.de/wiki/' } Wiki-Mirror
            |
            %a{ href: 'http://streaming.media.ccc.de/congress/2013/Fahrplan/schedule.html' } Fahrplan-Mirror
            |
            %a{ href: 'https://twitter.com/c3streaming' } Twitter
